Adafruit-Libraries==0.1
board==1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cmake==3.30.4
colorzero==2.0
gpiozero==2.0.1
idna==3.10
lgpio==0.2.2.0
pillow==10.4.0
psutil==6.0.0
PyAudio==0.2.14
pycparser==2.22
pygame==2.6.1
requests==2.32.3
rpi-lgpio==0.6
srt==3.5.3
tqdm==4.66.5
urllib3==2.2.3
vosk==0.3.45
websockets==13.1
